rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Updated rules for employee accounts
    match /profiles_employee/{userId} {
      // Allows a user to read or update their own data if logged in
      allow read, update, delete: if request.auth != null && request.auth.uid == userId;
      // Explicitly allows the initial profile creation during registration
      allow create: if request.auth != null;
    }
    
    // Updated rules for employer accounts
    match /profiles_employer/{userId} {
      // Allows a user to read or update their own data if logged in
      allow read, update, delete: if request.auth != null && request.auth.uid == userId;
      // Explicitly allows the initial profile creation during registration
      allow create: if request.auth != null;
    }
  }
}
